.logogreen{color:#36A935;}
.logogreen_bg{background-color:#36A935;}
.logoblue{color:#1D70B7;}
.logoblue-bg{background-color:#1D70B7;}
.white{color:white;}
.white-bg{background-color:white;}
.black{color: black;}
.black-bg{background-color:black;}
.grey{color: #333333; }
.grey-bg{background-color: #333333; }
.blue{color:#0000EE}
.red{color: #E74C3C;}
.red-bg{background-color: #E74C3C;}
.green{color:#27AE60;}
.green-bg{background-color:#27AE60;}
.yellow{color:#F5D76E}
.yellow-bg{background-color:#F5D76E}
.cyan{color:#D5FFFF;}
.cyan-bg{background-color:#D5FFFF;}
.darkgreen{color:#99C4C4;}
.darkgreen-bg{background-color:#99C4C4;}
