.softred {
  color:#EC644B;
}
.softred-bg {
  background-color:#EC644B;
}

.chestnutrose {
  color:#D24D57;
}
.chestnutrose-bg {
  background-color:#D24D57;
}

.pomegranate {
  color:#F22613;
}
.pomegranate-bg {
  background-color:#F22613;
}

.thunderbird {
  color:#EC644B;
}
.thunderbird-bg {
  background-color:#EC644B;
}

.oldbrick {
  color:#96281B;
}
.oldbrick-bg {
  background-color:#96281B;
}

.flamingo {
  color:#EF4836;
}
.flamingo-bg {
  background-color:#EF4836;
}

.valencia {
  color:#D64541;
}
.valencia-bg {
  background-color:#D64541;
}

.tallpoppy {
  color:#C0392B;
}
.tallpoppy-bg {
  background-color:#C0392B;
}

.monza {
  color:#CF000F;
}
.monza-bg {
  background-color:#CF000F;
}

.cinnabar {
  color:#E74C3C;
}
.cinnabar-bg {
  background-color:#E74C3C;
}

.razzmatazz {
  color:#DB0A5B;
}
.razzmatazz-bg {
  background-color:#DB0A5B;

}

.sunsetorange {
  color:#F64747;
}
.sunsetorange-bg {
  background-color:#F64747;
}

.waxflower {
  color:#F1A9A0;
}
.waxflower-bg {
  background-color:#F1A9A0;
}

.cabaret {
  color:#D2527F;
}
.cabaret-bg {
  background-color:#D2527F;
}

.newyorkpink {
  color:#E08283;
}
.newyorkpink-bg {
  background-color:#E08283;
}

.radicalred {
  color:#F62459;
}
.radicalred-bg {
  background-color:#F62459;
}

.sunglo {
  color:#E26A6A;
}
.sunglo-bg {
  background-color:#E26A6A;
}

.snuff {
  color:#DCC6E0;
}
.snuff-bg {
  background-color:#DCC6E0;
}

.rebeccapurple {
  color:#663399;
}
.rebeccapurple-bg {
  background-color:#663399;
}

.honeyflower {
  color:#674172;
}
.honeyflower-bg {
  background-color:#674172;
}

.wistful {
  color:#AEA8D3;
}
.wistful-bg {
  background-color:#AEA8D3;
}

.plum {
  color:#913D88;
}
.plum-bg {
  background-color:#913D88;
}

.seance {
  color:#9A12B3;
}
.seance-bg {
  background-color:#9A12B3;
}

.mediumpurple {
  color:#BF55EC;
}
.mediumpurple-bg {
  background-color:#BF55EC;
}

.lightwisteria {
  color:#BE90D4;
}
.lightwisteria-bg {
  background-color:#BE90D4;
}

.studio {
  color:#8E44AD;
}
.studio-bg {
  background-color:#8E44AD;
}

.wisteria {
  color:#9B59B6;
}
.wisteria-bg {
  background-color:#9B59B6;
}

.sanmarino {
  color:#446CB3;
}
.sanmarino-bg {
  background-color:#446CB3;
}

.aliceblue {
  color:#E4F1FE;
}
.aliceblue-bg {
  background-color:#E4F1FE;
}

.royalblue {
  color:#4183D7;
}
.royalblue-bg {
  background-color:#4183D7;
}

.pictonblue {
  color:#59ABE3;
}
.pictonblue-bg {
  background-color:#59ABE3;
}

.spray {
  color:#81CFE0;
}
.spray-bg {
  background-color:#81CFE0;
}

.shakespeare {
  color:#52B3D9;
}
.shakespeare-bg {
  background-color:#52B3D9;
}

.hummingbird {
  color:#C5EFF7;
}
.hummingbird-bg {
  background-color:#C5EFF7;
}

.pictonblue2 {
  color:#22A7F0;
}
.pictonblue2-bg {
  background-color:#22A7F0;
}

.curiousblue {
  color:#3498DB;
}
.curiousblue-bg {
  background-color:#3498DB;
}

.madison {
  color:#2C3E50;
}
.madison-bg {
  background-color:#2C3E50;
}

.dodgerblue {
  color:#19B5FE;
}
.dodgerblue-bg {
  background-color:#19B5FE;
}


.ming {
  color:#336E7B;
}
.ming-bg {
  background-color:#336E7B;
}


.ebonyclay {
  color:#22313F;
}
.ebonyclay-bg {
  background-color:#22313F;
}


.malibu {
  color:#6BB9F0;
}
.malibu-bg {
  background-color:#6BB9F0;
}


.summersky {
  color:#1E8BC3;
}
.summersky-bg {
  background-color:#1E8BC3;
}


.chambray {
  color:#3A539B;
}
.chambray-bg {
  background-color:#3A539B;
}


.pickledbluewood {
  color:#34495E;
}
.pickledbluewood-bg {
  background-color:#34495E;
}


.hoki {
  color:#67809F;
}
.hoki-bg {
  background-color:#67809F;
}


.jellybean {
  color:#2574A9;
}
.jellybean-bg {
  background-color:#2574A9;
}


.jacksonspurple {
  color:#1F3A93;
}
.jacksonspurple-bg {
  background-color:#1F3A93;
}


.jordyblue {
  color:#89C4F4;
}
.jordyblue-bg {
  background-color:#89C4F4;
}

.steelblue {
  color:#4B77BE;
}
.steelblue-bg {
  background-color:#4B77BE;
}


.fountainblue {
  color:#5C97BF;
}
.fountainblue-bg {
  background-color:#5C97BF;
}


.mediumturquoise {
  color:#4ECDC4;
}
.mediumturquoise-bg {
  background-color:#4ECDC4;
}

.aquaisland {
  color:#A2DED0;
}
.aquaisland-bg {
  background-color:#A2DED0;
}


.gossip {
  color:#87D37C;
}
.gossip-bg {
  background-color:#87D37C;
}


.darkseagreen {
  color:#90C695;
}
.darkseagreen-bg {
  background-color:#90C695;
}

.eucalyptus {
  color:#26A65B;
}
.eucalyptus-bg {
  background-color:#26A65B;
}


.caribbeangreen {
  color:#03C9A9;
}
.caribbeangreen-bg {
  background-color:#03C9A9;
}


.silvertree {
  color:#68C3A3;
}
.silvertree-bg {
  background-color:#68C3A3;
}

.downy {
  color:#65C6BB;
}
.downy-bg {
  background-color:#65C6BB;
}


.mountainmeadow {
  color:#1BBC9B;
}
.mountainmeadow-bg {
  background-color:#1BBC9B;
}


.lightseagreen {
  color:#1BA39C;
}
.lightseagreen-bg {
  background-color:#1BA39C;
}

.mediumaquamarine {
  color:#66CC99;
}
.mediumaquamarine-bg {
  background-color:#66CC99;
}

.turquoise {
  color:#36D7B7;
}
.turquoise-bg {
  background-color:#36D7B7;
}

.madang {
  color:#C8F7C5;
}
.madang-bg {
  background-color:#C8F7C5;
}

.riptide {
  color:#86E2D5;
}
.riptide-bg {
  background-color:#86E2D5;
}

.shamrock {
  color:#2ECC71;
}
.shamrock-bg {
  background-color:#2ECC71;
}

.niagara {
  color:#16A085;
}
.niagara-bg {
  background-color:#16A085;
}

.emerald {
  color:#3FC380;
}
.emerald-bg {
  background-color:#3FC380;
}

.greenhaze {
  color:#019875;
}
.greenhaze-bg {
  background-color:#019875;
}

.freespeechaquamarine {
  color:#03A678;
}
.freespeechaquamarine-bg {
  background-color:#03A678;
}

.oceangreen {
  color:#4DAF7C;
}
.oceangreen-bg {
  background-color:#4DAF7C;
}

.niagara1 {
  color:#2ABB9B;
}
.niagara1-bg {
  background-color:#2ABB9B;
}

.jade {
  color:#00B16A;
}
.jade-bg {
  background-color:#00B16A;
}

.salem {
  color:#1E824C;
}
.salem-bg {
  background-color:#1E824C;
}

.observatory {
  color:#049372;
}
.observatory-bg {
  background-color:#049372;
}

.junglegreen {
  color:#26C281;
}
.junglegreen-bg {
  background-color:#26C281;
}

.confetti {
  color:##E9D460;
}
.confetti-bg {
  background-color:##E9D460;
}

.capehoney {
  color:#FDE3A7;
}
.capehoney-bg {
  background-color:#FDE3A7;
}

.california {
  color:#F89406;
}
.california-bg {
  background-color:#F89406;
}

.firebush {
  color:#EB9532;
}
.firebush-bg {
  background-color:#EB9532;
}

.tahitigold {
  color:#E87E04;
}
.tahitigold-bg {
  background-color:#E87E04;
}

.casablanca {
  color:#F4B350;
}
.casablanca-bg {
  background-color:#F4B350;
}

.crusta {
  color:#F2784B;
}
.crusta-bg {
  background-color:#F2784B;
}

.seabuckthorn {
  color:#EB974E;
}
.seabuckthorn-bg {
  background-color:#EB974E;
}

.lightningyellow {
  color:#F5AB35;
}
.lightningyellow-bg {
  background-color:#F5AB35;
}

.burntorange {
  color:#D35400;
}
.burntorange-bg {
  background-color:#D35400;
}

.buttercup {
  color:#F39C12;
}
.buttercup-bg {
  background-color:#F39C12;
}

.ecstasy {
  color:#F9690E;
}
.ecstasy-bg {
  background-color:#F9690E;
}

.sandstorm {
  color:#F9BF3B;
}
.sandstorm-bg {
  background-color:#F9BF3B;
}

.jaffa {
  color:#F27935;
}
.jaffa-bg {
  background-color:#F27935;
}

.zest {
  color:#E67E22;
}
.zest-bg {
  background-color:#E67E22;
}

.whitesmoke {
  color:#ECECEC;
}
.whitesmoke-bg {
  background-color:#ECECEC;
}

.lynch {
  color:#6C7A89;
}
.lynch-bg {
  background-color:#6C7A89;
}

.pumice {
  color:#D2D7D3;
}
.pumice-bg {
  background-color:#D2D7D3;
}

.gallery {
  color:#EEEEEE;
}
.gallery-bg {
  background-color:#EEEEEE;
}

.silversand {
  color:#BDC3C7;
}
.silversand-bg {
  background-color:#BDC3C7;
}

.porcelain {
  color:#ECF0F1;
}
.porcelain-bg {
  background-color:#ECF0F1;
}

.cascade {
  color:#95A5A6;
}
.cascade-bg {
  background-color:#95A5A6;
}

.iron {
  color:#DADFE1;
}
.iron-bg {
  background-color:#DADFE1;
}

.edward {
  color:#ABB7B7;
}
.edward-bg {
  background-color:#ABB7B7;
}

.carrara {
  color:#F2F1EF;
}
.carrara-bg {
  background-color:#F2F1EF;
}

.silver {
  color:#BFBFBF;
}
.silver-bg {
  background-color:#BFBFBF;
}

.test_bg{
  background: linear-gradient(to top, #19B5FE 0%, #16A085 100%);
}
