.logogreen{color:#36A935;}
.logogreen_bg{background-color:#36A935;}
.logoblue{color:#1D70B7;}
.logoblue-bg{background-color:#1D70B7;}
.white{color:white;}
.white-bg{background-color:white;}
.black{color: black;}
.black-bg{background-color:black;}
.grey{color: #333333; }
.grey-bg{background-color: #333333; }
.blue{color:#0000EE}
.red{color: #e74c3c;}
.red-bg{background-color: #e74c3c;}
.green{color: #27ae60;}
.green-bg{background-color: #27ae60;}