header {
  border-bottom: 2px solid black;
}

li {
  display:inline-block;
  margin: 0px;
}

li a {
  display: block;
  width: 150px;
  height: 30px;
  padding: 10px;
  margin: 30px 0px;
  text-decoration: none;
  font-size: 20px;
  color: #1D70B7;
}

li a:hover {
  background-color: #1D70B7;
  color: white;
  opacity: 0.5;
}
